{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
	<div>
		<h1>Panier</h1>
		<table>
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for element in cart.products %}
					<tr>
						<td>
							{{ element.product.name }}
						</td>
						<td>
							{{ element.product.price }}
						</td>
						<td>
							<a href="{{ path('cart_add', {'id':element.product.id}) }}">
								+
							</a>
							{{ element.quantity }}
							<a href="{{ path('cart_delete', {'id':element.product.id}) }}">
								-
							</a>
						</td>
						<td>
							{{ element.quantity * (element.product.price) }}
						</td>
						<td>
							<a href="{{ path('cart_deleteAll', {'id':element.product.id}) }}">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td>
						Panier total
					</td>
					<td>
						{{ cart.data.subTotalHT }}
					</td>
				</tr>
				<tr>
					<td>
						Taxe (20%)
					</td>
					<td>
						{{ cart.data.taxe }}
					</td>
				</tr>
				<tr>
					<td>
						Total TTC
					</td>
					<td>
						{{ cart.data.subTotalTTC }}
					</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_checkout') }}">Allez au checkout</a>
	</div>
{% endblock %}
