<div class="form-edit-profil mx-auto">
	<h2 class="text-dark">Editer mon profil</h2>

	<br>

	{{ form_start(form) }}

	{{ form_row(form.isPublic) }}

	<br>

	<div class="row">
		<div class="col">
			{{ form_row(form.username) }}
		</div>
		<div class="col">
			{{ form_row(form.image) }}
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col">
			{{ form_row(form.bio) }}
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col">
			{{ form_row(form.localisation) }}
		</div>
	</div>

	<br>

	{{ form_row(form.submit) }}
	{{ form_end(form) }}
</div>
