{% extends 'base.html.twig' %}

{% block title %}
	Profil -
	{{ app.user.username }}
{% endblock %}

{% block body %}
	<div
		class="div-global">
		<!-- section d'affichage des messages de succès et d'erreur du formulaire d'édition du compte -->
		<div class="d-flex justify-content-center">
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					{% if type == 'error' %}
						<div class="alert alert-{{ type }} alert-dismissible fade show bg-light text-danger shadow mt-5" role="alert">
							<i class="fas fa-circle-exclamation me-2"></i>
							{{ message }}
							<br>
							<b>Rafraîchissez la page</b>.
						</div>
					{% elseif type == 'success' %}
						<div class="alert alert-success alert-dismissible fade show bg-light text-success shadow mt-5" role="alert">
							<i class="fas fa-check-circle me-2"></i>
							{{ message }}
						</div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>

		<!-- affichage des informations du compte de l'utilisateur connecté et de son nombre d'abonnés / abonnements -->
		<div class="d-flex justify-content-center">
			<section class="section-profil shadow">
				<section class="section-profil-top">
					<img
					src="{{ asset('assets/images/profil/' ~ app.user.image) }}" alt="" class="section-profil-img shadow">
					<!-- Button trigger modal -->
					<a class="vers-edit-profil" type="button" data-mdb-toggle="modal" data-mdb-target="#editModal" href="#editModal">
						<i class="fas fa-gear"></i>
					</a>
				</section>

				<section class="mt-4">
					<h4>{{ app.user.username }}</h4>
					<p>{{ app.user.bio }}</p>
					<p>
						<i class="fas fa-location-dot me-1 app-user-info"></i>
						{{ app.user.localisation }}</p>
				</section>

				<!-- affichage du nombre d'abonnements et d'abonnés -->
				<section class="mb-3">
					<a class="btn nbr_abonnes-abonnements" href="{{ path('app_account_abonnements', {'username': user.username}) }}">
						<span class="fw-bold">{{ abonnements|length }}</span>
						{% if abonnements|length > 1 %}
							abonnements
						{% else %}
							abonnement
						{% endif %}
					</a>
					<a class="ms-3 btn nbr_abonnes-abonnements">
						<span class="fw-bold">{{ abonnes|length }}</span>
						{% if abonnes|length > 1 %}
							abonnés
						{% else %}
							abonné
						{% endif %}
					</a>
				</section>
			</section>
		</div>

		<!-- fenêtre modale d'édition du profil -->
		<div class="modal fade modal-edit-profil" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{% include "account/edit_profile.html.twig" %}
				</div>
			</div>
		</div>

		<!-- section d'affichage des posts -->
		<section class="posts-TL">
			<a href="{{ path('app_post_new', {'username': user.username}) }}" class="btn btn-dark btn-rounded">
				<i class="fas fa-plus"></i>
			</a>

			<div
				class="row row-cols-1 row-cols-md-3 g-4 mt-1">
				<!-- affichage des posts épinglés par l'utilisateur -->
				{% for postIsPinned in postsIsPinned %}
					<div>
						<a href="{{ path('app_post_show', {'id': postIsPinned.id, 'username': user.username}) }}" class="text-dark">
							{% include "include/forPostIsPinned.html.twig" %}
						</a>
					</div>
				{% endfor %}

				<!-- affichage de tous les posts -->
				{% for post in posts %}
					<div class="mb-4">
						<a href="{{ path('app_post_show', {'id': post.id, 'username': user.username}) }}" class="text-dark">
							{% include "include/forPostAccount.html.twig" %}
						</a>
						<div class="d-flex justify-content-center">
							<a href="{{ path('app_post_edit', {'id': post.id, 'username': user.username}) }}" class="btn btn-dark btn-rounded btn-post-edit">
								<i class="fas fa-pen-to-square"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>

		<!-- pagination avec KnpPaginatorBundle -->
		{% include "include/paginationPost.html.twig" %}
	</div>
{% endblock %}
