{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<div>
		<a data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="#exampleModal">
			<div class="d-flex justify-content-center">
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						{% if type == 'error' %}
							<div class="alert alert-{{ type }} alert-dismissible fade show bg-light text-danger shadow mt-5" role="alert">
								<i class="fas fa-circle-exclamation me-2"></i>
								{{ message }}
								<br>
								<b>Rafraîchissez la page, ou corrigez ici</b>.
							</div>
						{% elseif type == 'success' %}
							<div class="alert alert-success alert-dismissible fade show bg-light text-success shadow mt-5" role="alert">
								<i class="fas fa-check-circle me-2"></i>
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</a>

		<div class="d-flex justify-content-center">
			<section class="section-profil shadow">
				<section class="section-profil-top">
					<img
					src="/assets/images/profil/{{ app.user.image }}" alt="" class="section-profil-img shadow">
					<!-- Button trigger modal -->
					<a class="vers-edit-profil" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="#exampleModal">
						Editer mon profil
						<i class="fas fa-arrow-right-long ms-1"></i>
					</a>
				</section>

				<section class="mt-4">
					<h4>
						{% if app.user.isPublic == false %}
							<p>
								@{{ app.user.username }}
								<i class="fas fa-lock ms-1" title="Ce compte est privé."></i>
							</p>
						{% else %}
							<p>
								@{{ app.user.username }}
							</p>
						{% endif %}
					</h4>
					<p>
						{{ app.user.bio }}
					</p>
					<p>
						<i class="fas fa-location-dot me-1"></i>
						{{ app.user.localisation }}
					</p>
				</section>
			</section>
		</div>

		<!-- Modal -->
		<div class="modal fade modal-edit-profil" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{% include "account/edit_profile.html.twig" %}
				</div>
			</div>
		</div>

		<br>

		<section class="section-posts">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for postIsPinned in postsIsPinned %}
					<div class="col">
						<div class="card">
							{% if postIsPinned.image %}
								<img src="{{ postIsPinned.image }}" class="card-img-top post-card-img shadow" alt="{{ postIsPinned.title }}"/>
								<div class="card-body post-card-body-img">
									{% if postIsPinned.title %}
										<h5 class="card-title">
											<i class="far fa-bookmark me-1"></i>
											{{ postIsPinned.title }}
										</h5>
										<p class="card-text">
											{{ postIsPinned.content|striptags|length > 140 ? postIsPinned.content|striptags|slice(0, 140) ~ ' ...' : postIsPinned.content|striptags }}
										</p>
									{% else %}
										<div class="mt-3"></div>
										<p class="card-text">
											<i class="far fa-bookmark me-1"></i>
											{{ postIsPinned.content|striptags|length > 140 ? postIsPinned.content|striptags|slice(0, 140) ~ ' ...' : postIsPinned.content|striptags }}
										</p>
									{% endif %}
								</div>
							{% else %}
								<div class="card-body post-card-body">
									{% if postIsPinned.title %}
										<h5 class="card-title mt-1">{{ postIsPinned.title }}</h5>
										<p class="card-text mt-3">
											{{ postIsPinned.content|striptags|length > 700 ? postIsPinned.content|striptags|slice(0, 700) ~ ' ...' : postIsPinned.content|striptags }}
										</p>
									{% else %}
										<p class="card-text post-card-text">
											{{ postIsPinned.content|striptags|length > 700 ? postIsPinned.content|striptags|slice(0, 700) ~ ' ...' : postIsPinned.content|striptags }}
										</p>
									{% endif %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}

				{% for post in posts %}
					<div class="col">
						<div class="card">
							{% if post.image %}
								<img src="{{ post.image }}" class="card-img-top post-card-img shadow" alt="{{ post.title }}"/>
								<div class="card-body post-card-body-img">
									{% if post.title %}
										<h5 class="card-title">{{ post.title }}</h5>
									{% else %}
										<div class="mt-3"></div>
									{% endif %}

									<p class="card-text">
										{{ post.content|striptags|length > 140 ? post.content|striptags|slice(0, 140) ~ ' ...' : post.content|striptags }}
									</p>
								</div>
							{% else %}
								<div class="card-body post-card-body">
									{% if post.title %}
										<h5 class="card-title mt-1">{{ post.title }}</h5>
										<p class="card-text mt-3">
											{{ post.content|striptags|length > 700 ? post.content|striptags|slice(0, 700) ~ ' ...' : post.content|striptags }}
										</p>
									{% else %}
										<p class="card-text post-card-text">
											{{ post.content|striptags|length > 700 ? post.content|striptags|slice(0, 700) ~ ' ...' : post.content|striptags }}
										</p>
									{% endif %}
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
