{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<div>
		<div class="d-flex justify-content-center">
			<section class="section-profil shadow">
				<section class="section-profil-top">
					<img
					src="/assets/images/profil/{{ app.user.image }}" alt="" class="section-profil-img shadow">
					<!-- Button trigger modal -->
					<a class="vers-edit-profil" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
						Editer mon profil
						<i class="fas fa-arrow-right-long ms-1"></i>
					</a>
				</section>

				<section class="mt-4">
					<h4>
						{% if app.user.isPublic == false %}
							<p>
								@{{ app.user.username }}
								<i class="fas fa-lock ms-1" title="Ce compte est privé."></i>
							</p>
						{% else %}
							<p>
								@{{ app.user.username }}
							</p>
						{% endif %}
					</h4>
					<p>
						{{ app.user.bio }}
					</p>
					<p>
						<i class="fas fa-location-dot me-1"></i>
						{{ app.user.localisation }}
					</p>
				</section>
			</section>
		</div>

		<!-- Modal -->
		<div class="modal fade modal-edit-profil" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{% include "account/edit_profile.html.twig" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
