{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block body %}
	<div>
		<a data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="#exampleModal">
			<div class="d-flex justify-content-center">
				{% for type, messages in app.flashes %}
					{% for message in messages %}
						{% if type == 'error' %}
							<div class="alert alert-{{ type }} alert-dismissible fade show bg-light text-danger shadow mt-5" role="alert">
								<i class="fas fa-circle-exclamation me-2"></i>
								{{ message }}
								<br>
								<b>Rafraîchissez la page, ou corrigez ici</b>.
							</div>
						{% elseif type == 'success' %}
							<div class="alert alert-success alert-dismissible fade show bg-light text-success shadow mt-5" role="alert">
								<i class="fas fa-check-circle me-2"></i>
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</a>

		<div class="d-flex justify-content-center">
			<section class="section-profil shadow">
				<section class="section-profil-top">
					<img
					src="/assets/images/profil/{{ app.user.image }}" alt="" class="section-profil-img shadow">
					<!-- Button trigger modal -->
					<a class="vers-edit-profil" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal" href="#exampleModal">
						Editer mon profil
						<i class="fas fa-arrow-right-long ms-1"></i>
					</a>
				</section>

				<section class="mt-4">
					<h4>
						{% if app.user.isPublic == false %}
							<p>
								@{{ app.user.username }}
								<i class="fas fa-lock ms-1" title="Ce compte est privé."></i>
							</p>
						{% else %}
							<p>
								@{{ app.user.username }}
							</p>
						{% endif %}
					</h4>
					<p>
						{{ app.user.bio }}
					</p>
					<p>
						<i class="fas fa-location-dot me-1"></i>
						{{ app.user.localisation }}
					</p>
				</section>
			</section>
		</div>

		<!-- Modal -->
		<div class="modal fade modal-edit-profil" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{% include "account/edit_profile.html.twig" %}
				</div>
			</div>
		</div>

		<br><br><br>

		<section style="margin-left:5%;margin-right:5%;">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								This is a longer card with supporting text below as a natural lead-in to
																          additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								This is a longer card with supporting text below as a natural lead-in to
																          additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">
								This is a longer card with supporting text below as a natural lead-in to
																          additional content. This content is a little bit longer.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
{% endblock %}
