{% extends 'base.html.twig' %}

{% block title %}
	Profil -
	{{ visitedUser.username }}
{% endblock %}

{% block body %}
	<div class="div-global">
		<div
			class="d-flex justify-content-center">
			<!-- affichage du profil de l'utilisateur -->
			<section class="section-profil shadow">
				<section class="section-profil-top">
					<img src="{{ asset('assets/images/profil/' ~ visitedUser.image) }}" alt="" class="section-profil-img shadow">
					<!-- affichage de la section du bouton pour s'abonner -->
					<!-- selon si l'utilisateur est déjà abonné, non abonné, ou si l'autre personne est déjà abonné à lui etc -->
						<section>
							{% if isSubscribed and isFollowed %}
								<a href="{{ path('app_account_unsubscribe', {'username': visitedUser.username}) }}" class="btn btn-dark"> <i class="fas fa-check me-2"></i>
								Abonné(e)

								<i class="fas fa-handshake-angle ms-2"></i>
							</a>
						{% else %}
							{% if isSubscribed %}
								<a href="{{ path('app_account_unsubscribe', {'username': visitedUser.username}) }}" class="btn btn-dark">
									<i class="fas fa-check me-2"></i>
									Abonné(e)
								</a>
							{% else %}
								{% if isFollowed %}
									<a href="{{ path('app_account_subscribe', {'username': visitedUser.username} ) }}" class="btn btn-dark">
										<i class="fas fa-plus me-2"></i>
										S'abonner en retour
									</a>
								{% else %}
									<a href="{{ path('app_account_subscribe', {'username': visitedUser.username} ) }}" class="btn btn-dark">
										<i class="fas fa-plus me-2" title="Vous êtes abonnés l'un à l'autre."></i>
										S'abonner
									</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</section>
				</section>

				<!-- affichage des informations du profil -->
				<section class="mt-4">
					<h4>{{ visitedUser.username }}</h4>
					<p>{{ visitedUser.bio }}</p>
					<p>
						<i class="fas fa-location-dot app-user-info me-1"></i>
						{{ visitedUser.localisation }}
					</p>
				</section>

				<!-- affichage du nombre d'abonnements et d'abonnés -->
				<section class="mb-3">
					<a class="btn nbr_abonnes-abonnements">
						<span class="fw-bold">{{ abonnements|length }}</span>
						{% if abonnements|length > 1 %}abonnements{% else %}abonnement
						{% endif %}
					</a>
					<a class="ms-3 btn nbr_abonnes-abonnements">
						<span class="fw-bold">{{ abonnes|length }}</span>
						{% if abonnes|length > 1 %}abonnés{% else %}abonné
						{% endif %}
					</a>
				</section>
			</section>
		</div>

		<!-- affichage de la section des posts -->
		<section class="section-posts mt-4">
			<div
				class="row row-cols-1 row-cols-md-3 g-4">
				<!-- affichage des posts épinglés par l'utilisateur -->
				{% for postIsPinned in postsIsPinned %}
					<a href="{{ path('app_post_show', {'id': postIsPinned.id, 'username': visitedUser.username}) }}" class="text-dark">
						{% include "include/forPostIsPinned.html.twig" %}
					</a>
				{% endfor %}

				<!-- affichage de tous les posts -->
				{% for post in posts %}
					<a href="{{ path('app_post_show', {'id': post.id, 'username': visitedUser.username}) }}" class="text-dark">
						{% include "include/forPostAccount.html.twig" %}
					</a>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
