{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="div-global p-3">
		<h1 class="text-center text-dark pt-5">{{ block('title')}}</h1>

		<section class="form-log">
			{{ form_start(registrationForm) }}

			<div class="row mt-4">
				<div class="col">
					{{ form_row(registrationForm.email) }}
				</div>
				<div class="col">
					{{ form_row(registrationForm.username) }}
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					{{ form_row(registrationForm.firstname) }}
				</div>
				<div class="col">
					{{ form_row(registrationForm.lastname) }}
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					{{ form_row(registrationForm.plainPassword) }}
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					{{ form_row(registrationForm.agreeTerms) }}
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					{{ form_row(registrationForm.submit) }}
				</div>
			</div>

			{{ form_end(registrationForm) }}

			<section class="mt-4">
				<p>
					Déjà inscrit(e) ?
					<a href="{{ path('app_login') }}" class="text-dark fw-bold">Connectez-vous !</a>
				</p>
			</section>
		</section>
	</div>
{% endblock %}
