<!-- affichage de la section de recherche des posts -->
<div
	class="barre-form shadow">
	<!-- formulaire -->
	<form action="{{ path('post_search') }}" method="get" class="mb-4">
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="input-form-post-responsive" name="q" placeholder="Rechercher une publication par mot-clé ...">
			<button class="btn btn-dark btn-rounded" type="submit">
				<i class="fas fa-magnifying-glass"></i>
			</button>
		</div>
	</form>
	<!-- affichage des filtres (par tags) -->
	<section class="filtres-posts-responsive">
		<a href="{{ path('app_home') }}" class="btn btn-light btn-postTag shadow btn-rounded me-4">
			<i class="fas fa-xmark"></i>
		</a>
		<a href="{{ path('app_home_news') }}" class="btn btn-dark btn-rounded btn-postTag me-4">
			<i class="fas fa-caret-right fleche-nouveautes me-2"></i>
			Nouveautés
		</a>
		{% for postTag in postTags %}
			{% if postTag.slug == app.request.get('slug') %}
				<a href="{{ path('posts_tag', {'slug': postTag.slug}) }}" class="btn btn-rounded btn-postTag btn-postTag-request me-4">
					<i class="fas fa-check fa-check-postTag me-2"></i>
					{{ postTag.name }}
				</a>
			{% else %}
				<a href="{{ path('posts_tag', {'slug': postTag.slug}) }}" class="btn btn-dark btn-postTag btn-rounded me-4">
					{{ postTag.name }}
				</a>
			{% endif %}
		{% endfor %}
	</section>
</div>
