<div class="col mb-4">
	{% if post.image %}
		<div class="card">
			<img src="/assets/images/post/{{ post.image }}" class="card-img-top post-card-img shadow" alt="{{ post.title }}"/>
			<div class="card-body post-card-body-img">
				<div class="mb-2 div-btn-post-compteur">
					<button class="btn btn-light btn-post-compteur shadow">
						<i class="far fa-clock me-1"></i>
						{{ post.createdAt|date('d ') ~ months[post.createdAt|date('n')-1] ~ post.createdAt|date(' Y') }}
					</button>
					<button class="btn btn-light btn-post-user shadow">
						{{ post.user }}
					</button>
				</div>

				{% if post.title %}
					<h5 class="card-title">
						{{ post.title|striptags|length > 40 ? post.title|striptags|slice(0, 40) ~ ' ...' : post.title|striptags }}
					</h5>
				{% else %}
					<div class="mt-3"></div>
				{% endif %}

				<p class="card-text">
					{{ post.content|striptags|length > 140 ? post.content|striptags|slice(0, 140) ~ ' ...' : post.content|striptags }}
				</p>
			</div>
		</div>
	{% else %}
		<div class="card">
			<div class="card-body post-card-body">
				<div class="mb-2 div-btn-post-compteur">
					<button class="btn btn-light btn-post-compteur shadow">
						<i class="far fa-clock me-1"></i>
						{{ post.createdAt|date('d ') ~ months[post.createdAt|date('n')-1] ~ post.createdAt|date(' Y') }}
					</button>
					<button class="btn btn-light btn-post-user shadow">
						{{ post.user }}
					</button>
				</div>
				{% if post.title %}
					<h5 class="card-title mt-1">
						{{ post.title|striptags|length > 40 ? post.title|striptags|slice(0, 40) ~ ' ...' : post.title|striptags }}
					</h5>

					<p class="card-text mt-3">
						{{ post.content|striptags|length > 700 ? post.content|striptags|slice(0, 700) ~ ' ...' : post.content|striptags }}
					</p>
				{% else %}
					<p class="card-text post-card-text">
						{{ post.content|striptags|length > 700 ? post.content|striptags|slice(0, 700) ~ ' ...' : post.content|striptags }}
					</p>
				{% endif %}
			</div>
		</div>
	{% endif %}
</div>
