<div class="shadow" id="header-info">
	{% for info in infos %}
		{{ info.header|raw}}
	{% endfor %}
</div>
<div class="section-blog-ecom-home">

	<h1 class="text-dark text-left">
		<i class="fas fa-feather-pointed pre-icon"></i>
		Actualités
	</h1>

	<div
		class="row mt-5">
		<!-- section-blog -->
		{% for article in articles %}
			<div class="col-sm-6 mb-4">
				<div class="card card-article">
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h5>
						<p class="card-text">{{ article.content }}</p>
						<button class="btn btn-light btn-post-compteur shadow">
							<i class="far fa-clock me-1"></i>
							{{ article.createdAt|date('d ') ~ months[article.createdAt|date('n')-1] ~ article.createdAt|date(' Y') }}
						</button>
						<button class="btn btn-light btn-post-compteur shadow ms-3">
							<i class="fas fa-folder-open me-1"></i>
							{{ article.category.name }}
						</button>
					</div>
				</div>
			</div>
		{% endfor %}

		<!-- section-ecommerce -->
		<section class="d-flex justify-content-center mb-3">
			<i class="fas fa-angle-down text-dark mt-4 mb-4"></i>
		</section>

		{% for product in products %}
			<div class="col-sm-12 mb-4">
				<div class="card card-ecommerce shadow">
					<div class="card-body">
						<h5 class="card-title card-title-ecommerce">
							{{ product.title }}
						</h5>
						<p>
							{{ product.content|raw }}
						</p>
						<a type="button" class="btn btn-light btn-ecommerce shadow" href="{{ path('addToCart', {'id':product.id}) }}">
							<span class="text-light me-2">
								{{ (product.price / 100)|number_format(2, ',', '.') }}&euro;
							</span>
							<i class="fas fa-hand-holding-heart"></i>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
