{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<div>
		<h1>Mon panier</h1>
		{% if cart|length > 0 %}

			<a href="{{ path('removeCartAll')}}">
				Vider le panier
			</a>
			<form action="{{ path('order_index')}}">
				<section>
					{% set total = null %}
					{% for item in cart %}
						{% set total = total + (item.product.price * item.quantity) %}
						{{ item.product.title }}
						{{ item.product.price }}&euro;
						{{ item.quantity }}
						{{ item.product.price * item.quantity }}&euro;

						<a href="{{ path('decrementToCart', {'id':item.product.id}) }}">-</a>
						<a href="{{ path('addToCart', {'id':item.product.id}) }}">+</a>

						<a href="{{ path('removeToCart', {'id':item.product.id}) }}">
							Supprimer ce produit du panier
						</a>
						<br><br>
					{% endfor %}

					<div>
						<p>Total du panier :
							{{ (total / 100)|number_format(2, ',', '.') }}&euro;
						</p>
					</div>

					<button type="submit">
						Je valide mon panier
					</button>
				</section>
			</form>
		{% else %}
			Votre panier est vide.
		{% endif %}
	</div>
{% endblock %}
