{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<div>
		<h1>Mon panier</h1>
		{% if cart|length > 0 %}

			<a href="{{ path('removeCartAll')}}">
				Vider le panier
			</a>
			<section>
				{% for item in cart %}
					{{ item.product.title }}
					{{ item.product.price }}&euro;
					{{ item.quantity }}
					{{ item.product.price * item.quantity }}&euro;

					<a href="{{ path('removeToCart', {'id':item.product.id}) }}">
						Supprimer ce produit du panier
					</a>
				{% endfor %}
			</section>
		{% else %}
			Votre panier est vide.
		{% endif %}
	</div>
{% endblock %}
