{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div>
		<h2>Formulaire de contact</h2>

		<section>
			{% for message in app.flashes('success') %}
				{{ message }}
			{% endfor %}
			{% for message in app.flashes('error') %}
				{{ message }}
			{% endfor %}

			{{ form_start(form)}}

			{{form_row(form.name)}}
			{{form_row(form.email)}}
			{{form_row(form.subject)}}
			{{form_row(form.content)}}
			{{form_row(form.isChecked)}}

			{{ form_end(form)}}
		</section>
	</div>
{% endblock %}
