{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="form-de-contact">
		<h2>
			<i class="fa fa-envelope-open-text pre-icon"></i>
			Formulaire de contact</h2>

		<section class="mt-4">
			<div class="mb-4">
				{% for message in app.flashes('success') %}
					<i class="fas fa-bell me-1"></i>
					{{ message }}
				{% endfor %}
				{% for message in app.flashes('error') %}
					<i class="fas fa-bell me-1"></i>
					{{ message }}
				{% endfor %}
			</div>

			{{ form_start(form)}}

			<div class="row">
				<div class="col">
					{{form_row(form.name)}}
				</div>
				<div class="col">
					{{form_row(form.email)}}
				</div>
			</div>
			<div class="row mt-4">
				{{form_row(form.subject)}}
			</div>
			<div class="row mt-4">
				{{form_row(form.content)}}
			</div>
			<div class="row mt-4">
				{{form_row(form.isChecked)}}
			</div>

			{{ form_end(form)}}
		</section>
	</div>
{% endblock %}
