{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!
{% endblock %}

{% block scriptStripe %}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block body %}
	<div>
		<div>
			<h1>Checkout</h1>

			<h2>Votre adresse</h2>
			{{ address | replace({"[spr]" : "<br>"}) | raw }}

			<h2>Votre transporteur</h2>
			{{ carrier | replace({"[spr]" : "<br>"}) | raw }}

			<h2>Informations aditionnelles</h2>
			{% if information %}
				{{ information | raw }}
			{% endif %}


			<h2>Votre commande</h2>
			<table>
				<thead>
					<tr>
						<th>Produit</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{% for element in cart.products %}
						<tr>
							<td>
								{{ element.product.name }}
							</td>
							<td>
								{{ element.product.price }}
							</td>
							<td>
								{{ element.quantity }}
							</td>
							<td>
								{{ element.quantity * (element.product.price) }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<table>
				<tbody>
					<tr>
						<td>
							Panier total
						</td>
						<td>
							{{ cart.data.subTotalHT }}
						</td>
					</tr>
					<tr>
						<td>
							Taxe (20%)
						</td>
						<td>
							{{ cart.data.taxe }}
						</td>
					</tr>
					<tr>
						<td>
							Livraison
							{{ carrier.name }}
						</td>
						<td>
							{{ carrier.price / 100 }}
						</td>
					</tr>
					<tr>
						<td>
							Total TTC
						</td>
						<td>
							{{ cart.data.subTotalTTC + (carrier.price / 100) }}
						</td>
					</tr>
				</tbody>
			</table>

			{# <form action="{{ path('create-checkout-session') }}" method="POST" enctype="multipart/form-data"> #}
			<button type="submit" id="checkout-button">Checkout</button>
			{# </form> #}

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://js.stripe.com/v3/"></script>
	<script type="text/javascript">
		// Configure Stripe.js with your Stripe public key
const stripe = Stripe('pk_test_51M3KrLJysBhvIGnl9JsLhE5V0eubXBkX9vZ11GzHuTVAskSv675viNunsTvfpJP2tZazPEoG3Kk8VqNyaxqb9pGx00RQwpSuVY');

const checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function () {
fetch("/create-checkout-session/{{ reference }}", {method: "POST"}).then(function (response) {
return response.json();
}).then(function (session) {
return stripe.redirectToCheckout({sessionId: session.id});
}).then(function (result) {
if (result.error) {
alert(result.error.message);
}
}).catch(function (error) {
console.error('Error : ', error);
})
})
	</script>
{% endblock %}
