<div class="form-post">
	<div class="d-flex justify-content-center">
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger alert-dismissible fade show bg-light text-danger shadow mb-5" role="alert">
				<i class="fas fa-circle-exclamation me-2"></i>
				{{ flashMessage }}
			</div>
		{% endfor %}
	</div>

	{{ form_start(form) }}
	<div class="row">
		<div class="col">
			{{ form_row(form.title) }}
		</div>
		<div class="col">
			{{ form_row(form.image) }}
		</div>
	</div>
	<div class="row mt-4">
		{{ form_row(form.content) }}
	</div>
	<div class="row mt-4">
		{{ form_row(form.isPinned) }}
	</div>
	<div class="row mt-4">
		<div class="col">
			{{ form_row(form.linkName) }}
		</div>
		<div class="col">
			{{ form_row(form.link) }}
		</div>
		<div class="col">
			{{ form_row(form.linkName2) }}
		</div>
		<div class="col">
			{{ form_row(form.link2) }}
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			{{ form_row(form.linkName3) }}
		</div>
		<div class="col">
			{{ form_row(form.link3) }}
		</div>
		<div class="col">
			{{ form_row(form.linkName4) }}
		</div>
		<div class="col">
			{{ form_row(form.link4) }}
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			{{ form_row(form.linkName5) }}
		</div>
		<div class="col">
			{{ form_row(form.link5) }}
		</div>
		<div class="col">
			{{ form_row(form.linkName6) }}
		</div>
		<div class="col">
			{{ form_row(form.link6) }}
		</div>
	</div>
	<div class="row mt-4 ms-1">
		{% for tag in form.posttag %}
			<div class="form-check form-check-inline">
				{{ form_widget(tag, {'attr': {'class': 'form-check-input'}}) }}
				<label class="form-check-label">{{ form_label(tag) }}</label>
			</div>
		{% endfor %}
	</div>

	<div class="row mt-4">
		<div class="col">
			<p>
				<i class="fas fa-caret-right me-1"></i>
				Image 2
			</p>
			{{ form_row(form.image2) }}
		</div>
		<div class="col">
			<p>
				<i class="fas fa-caret-right me-1"></i>
				Image 3
			</p>
			{{ form_row(form.image3) }}
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<p>
				<i class="fas fa-caret-right me-1"></i>
				Image 4
			</p>
			{{ form_row(form.image4) }}
		</div>
		<div class="col">
			<p>
				<i class="fas fa-caret-right me-1"></i>
				Image 5
			</p>
			{{ form_row(form.image5) }}
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<p>
				<i class="fas fa-caret-right me-1"></i>
				Image 6
			</p>
			{{ form_row(form.image6) }}
		</div>
	</div>

	<div class="row mt-4">
		{{ form_row(form.submit) }}
	</div>
	<br>
	{{ form_end(form) }}</div>
