{% extends 'base.html.twig' %}

{% block title %}
	Publication
{% endblock %}

{% block body %}
	<div
		class="show-post show-post-responsive">
		<!-- affichage des tags du post -->
		<section class="mb-4">
			{% for postTag in postTags %}
				<a href="{{ path('posts_tag', {'slug': postTag.slug}) }}" class="btn btn-dark btn-rounded mx-1">
					{{ postTag.name }}
				</a>
			{% endfor %}
		</section>

		<div
			class="row">
			<!-- affichage du contenu du post -->
			<div>
				<!-- affiache des propriétés communes à tous les posts -->
				<h1>
					{{ post.title }}
				</h1>
				<p class="ms-1">
					Publié le
					{{ post.createdAt|date('d ') ~ months[post.createdAt|date('n')-1] ~ post.createdAt|date(' Y') }}
					à
					{{ post.createdAt|date('H:i') }}

					<span class="mx-2">-</span>

					<span>
						{% if app.user %}
							{% if isLikedByUser %}
								<a href="{{ path('app_post_dislike', {'slug':post.slug, 'username':user.username}) }}">
									<i class="fas fa-heart"></i>
								</a>
							{% else %}
								<a href="{{ path('app_post_like', {'slug':post.slug, 'username':user.username}) }}">
									<i class="far fa-heart"></i>
								</a>
							{% endif %}
						{% else %}
							<a href="{{ path('app_login') }}">
								<i class="far fa-heart"></i>
							</a>
						{% endif %}
					</span>

					{% if likesCount > 0 %}
						<span class="ms-1">
							{{ likesCount }}
						</span>
					{% endif %}
				</p>
				<a href="{{ path('app_account', {'username':user.username}) }}" class="btn shadow show-post-user ms-1">
					{{ post.user }}
				</a>
				<section class="post-content">
					<p>
						{{ post.content|raw }}
					</p>
				</section>

				<!-- si l'utilisateur a ajouté un lien (peut être null) -->
				{% if post.link %}
					<a class="mb-4 mt-4" href="{{ post.link }}" target="_BLANK">
						<i class="fas fa-link me-1 text-dark"></i>
					</a>
				{% endif %}

				<!-- si le post a une image -->
				{% if post.image %}
					<div class="col-md-3 mb-3 mt-5">
						<img src="{{ asset('assets/images/post/' ~ post.image) }}" type="button" data-mdb-toggle="modal" data-mdb-target="#modalPostImage" alt="{{ post.title }}" class="img-fluid rounded shadow">
					</div>

					<!-- Modal -->
					<div class="modal fade mt-5" id="modalPostImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog mt-5">
							<img src="{{ asset('assets/images/post/' ~ post.image) }}" alt="{{ post.title }}" width="800px" class="img-fluid rounded shadow">
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		{% if topic %}
			<section class="d-flex justify-content-center mt-5">
				<a href="{{ path('app_topic_show', {'slug': post.slug}) }}" class="btn btn-light shadow btn-rounded me-4">
					<i class="fas fa-right-long me-2"></i>
					Voir les commentaires
				</a>
			</section>
		{% endif %}
	</div>
{% endblock %}
