{% extends 'base.html.twig' %}

{% block title %}
	Commentaires -
	{{ post.title }}
{% endblock %}

{% block body %}
	<div class="show-post show-post-responsive">
		<h1>{{ post.title }}</h1>

		<div class="row">
			<div class="col-md-8">
				{% if commentaires|length > 0 %}
					<section class="mb-5">
						{% for commentaire in commentaires %}
							<div class="card w-100 mt-4 mb-4">
								<div class="card-body">
									<h5 class="card-title card-title-commentaire">
										{{ commentaire.user }}
										<span class="date-commentaire">
											|
											{{ commentaire.createdAt|date('d/m/Y à H:i') }}
										</span>
									</h5>
									<p class="card-text">
										<i class="fas fa-caret-right me-1"></i>
										{{ commentaire.content }}
									</p>
									<section class="d-flex justify-content-end">
										{% if commentaire.user == app.user %}
											<a href="#" onclick="confirmDelete('{{ path('app_commentaire_delete', {'id': commentaire.id}) }}')">
												<i class="fas fa-trash text-danger"></i>
											</a>
										{% endif %}
									</section>
								</div>
								<script>
									function confirmDelete(url) {
if (confirm("Êtes-vous sûr de vouloir supprimer ce commentaire ?")) {
window.location.href = url;
}
}
								</script>
							</div>
						{% endfor %}
					</section>

					<div class="navigation">
						{{ knp_pagination_render(commentaires) }}
					</div>
				{% else %}
					<p>Il n'y a pas encore de commentaire pour cette publication.</p>
				{% endif %}
			</div>

			<div class="col-md-4 mt-4">
				<section class="shadow bg-white p-5 rounded">
					{% if app.user %}
						<section>
							{% for message in app.flashes('error') %}
								{{ message }}
							{% endfor %}
						</section>

						{{ form_start(commentaireForm) }}
						<div class="row mt-2">
							<div class="col">
								{{ form_row(commentaireForm.content) }}
							</div>
						</div>

						<div class="row mt-2">
							<div class="col">
								{{ form_row(commentaireForm.submit) }}
							</div>
						</div>
						{{ form_end(commentaireForm) }}

					{% else %}
						<p>
							Pour écrire un commentaire, veuillez
							<a href="{{ path('app_login') }}">vous connecter</a>.
						</p>
					{% endif %}
				</section>
			</div>
		</div>
	</div>
{% endblock %}
