{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	<div>
		{{ form_start(form, { 'action': path('order_prepare'), 'method': 'POST' }) }}

		<h1>Récapitulatif</h1>

		<p>
			Nombre total de produit :
			{{ cart|length}}
		</p>
		<section>
			{% set total = null %}
			{% for item in cart %}
				{% set total = total + (item.product.price * item.quantity) %}
				{{ item.product.title }}
				{{ item.product.price }}&euro;
				{{ item.quantity }}
				{{ item.product.price * item.quantity }}&euro;

				<a href="{{ path('decrementToCart', {'id':item.product.id}) }}">-</a>
				<a href="{{ path('addToCart', {'id':item.product.id}) }}">+</a>

				<a href="{{ path('removeToCart', {'id':item.product.id}) }}">
					Supprimer ce produit du panier
				</a>
				<br><br>
			{% endfor %}

			<div>
				<p>Total du panier :
					{{ (total / 100)|number_format(2, ',', '.') }}&euro;
				</p>
			</div>
		</section>


		<section>
			<h1>Adresse & livraison</h1>
			{{ form_widget(form.addresses)}}
			{{ form_widget(form.transporter)}}
		</section>

		<button type="submit">
			Valider ma commande
		</button>

		{{ form_end(form) }}
	</div>
{% endblock %}
