{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!
{% endblock %}

{% block body %}
	<div>
		<h1>Recap</h1>

		<p>
			Nombre total de produit :
			{{ cart|length}}
		</p>
		<section>
			{% set total = null %}
			{% for item in cart %}
				{% set total = total + (item.product.price * item.quantity) %}
				{{ item.product.title }}
				{{ item.product.price / 100 }}&euro;
				{{ item.quantity }}
				{{ item.product.price / 100 * item.quantity }}&euro;
				<br><br>
			{% endfor %}

			<div>
				<p>Total du panier :
					{{ (total / 100)|number_format(2, ',', '.') }}&euro;
				</p>
			</div>
		</section>


		<section>
			<h1>Adresse & livraison</h1>
			<p>
				{{ transporter.title }}
				-
				{{ transporter.price }}&euro;
												                -
				{{ transporter.content }}
			</p>
			<p>
				{{ delivery|raw}}
			</p>
		</section>
	</div>
{% endblock %}
