{% extends 'base.html.twig' %}

{% block title %}Mes adresse
{% endblock %}

{% block body %}
	<h1>Mes adresses</h1>

	<table class="table">
		<tbody>
			{% for address in addresses %}
				<tr>
					<td>{{ address.fullName }}</td>
					<td>{{ address.company }}</td>
					<td>{{ address.address|raw }}</td>
					<td>{{ address.complement }}</td>
					<td>{{ address.phone }}</td>
					<td>{{ address.city }}</td>
					<td>{{ address.codePostal }}</td>
					<td>{{ address.country }}</td>
					<td>
						<a href="{{ path('app_address_show', {'id': address.id}) }}">Voir les détails</a>
						<a href="{{ path('app_address_edit', {'id': address.id}) }}">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">Vous n'avez pas encoré enregistré d'adresse.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<br>

	<a href="{{ path('app_address_new') }}">Enregistrer une adresse</a>
{% endblock %}
